body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('loginbg.jpg');
    background-size: 100%;
    background-position: center;
  }

  .banner {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .banner h1 {
    margin: 0;
    color: #fff;
  }
  
  .container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  h1, h2, h3 {
    color: #007bff;
  }
  
  form {
    margin-top: 20px;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="number"],
  textarea {
    margin: 10px;
    padding: 10px;
    width: calc(100% - 20px);
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .error-text {
    color: red;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  table th, table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
  }

  input[type="date"],
  input[type="time"] {
  margin: 10px;
  padding: 12px; /* Increase padding for bigger size */
  width: calc(100% - 24px); /* Adjust width */
  border-radius: 5px;
  border: 1px solid #ccc;
}

  